<section class="hero">
    <div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <li class="glide__slide"><img src="/assets/images/Duke_chapel.jpg" alt="Duke chapel"></li>
      <li class="glide__slide"><img src="/assets/images/code.jpg" alt="laptop with code on it"></li>
      <li class="glide__slide"><img src="/assets/images/hiking_bag.jpg" alt="hiking bag in woods"></li>
      <li class="glide__slide"><img src="/assets/images/mountains.jpg" alt="mountains in the fall"></li>
      <li class="glide__slide"><img src="/assets/images/coffee_sign.jpg" alt="neon coffee sigh"></li>
    </ul>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Glide('.glide', {
      type: 'carousel',
      autoplay: 3000,    // change every 3s
      perView: 1,
      animationDuration: 800
    }).mount();
  });
</script>

      <div class="floating-links">
      {% for item in site.data.navigation %}
        <a href="{{ item.link }}" 
           class="{% if page.url == item.link %}active{% endif %}">
          {{ item.name }}
        </a>
      {% endfor %}
    </div>

  <div class="hero-content">
       
    <h1>Denver Cowan</h1>
    <p>CompSci Student @ Duke University | Prior Enlisted U.S. Army 🇺🇸</p>
    <div class="hero-links">
      <a href="https://github.com/yourusername" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/denver-cowan/" target="_blank">LinkedIn</a>
      <a href="/about/">Resume</a>
    </div>
  </div>
</section>

